.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.advice {
    font-size: 25px;
    font-family: 'Young Serif', serif;
}
.btn {
    text-transform: uppercase;
    font-family: 'Young Serif', serif;
    padding: 10px;
    width: 20%;
}
body {
    background-color: #a9b0b6;
}